GLFW_ICON ICON "thefutureofmail.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	//BLOCK "080904E4" 	// English UK
    BLOCK "040904E4"	// English US
    BEGIN
	  VALUE "CompanyName", "Ryan Matthews"
      VALUE "FileDescription", "TheFutureOfMail | The Future of Mail"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "thefutureofmail"
      VALUE "LegalCopyright", "(c) 2024 Ryan Matthews"
      //VALUE "OriginalFilename", "thefutureofmail.exe"
      VALUE "TheFutureOfMail", "TheFutureOfMail"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	//VALUE "Translation", 0x809, 1252	// English UK
    VALUE "Translation", 0x409, 1252	// English US
  END
END
